{% extends 'base.html.twig' %}

{% block title %}Change password
{% endblock %}

{% block body %}
    
    <div class="container" style="margin:0 auto;">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <header class="card-header">
                            <a href="{{ path('account_register') }} " class="float-right btn btn-outline-primary mt-1">Register</a>
                            <h4 class="card-title mt-2">Change password</h4>
                        </header>
                        <article class="card-body">
        
                            <div class="form-row">
                                <div class="col form-group">
                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button type="submit" class="btn btn-success float-right my-3">
                                            <i class="fas fa-save"></i>Change password</button>
                                        {{ form_end(form) }}        
                                </div>
                            </div>
                        </article>
                        <div class="border-top card-body text-center">Have an account?
                            <a href="{{ path('account_index') }}">Log In</a></div>
                    </div>
                    <!-- card.// -->
                </div>
                <!-- col.//-->
        
            </div>
            <!-- row.//-->
        
        </div>

{% endblock %}